@charset "utf-8";
body {
	background-color: #FFF;
	background-image: url(../images/fond.jpg);
	background-repeat: repeat-x;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}
#contener {
	padding: 0px;
	width: 957px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

#contener #header {
	margin: 0px;
	padding: 0px;
	height: 121px;
	width: 957px;
}
#contener #header div {
	display: inline;
	float: left;
}
#contener #header img {
	border:none;
}

#contener #header #header_gauche {
	background-image: url(../images/header_gauche.jpg);
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	height: 121px;
	width: 15px;
}
#contener #header #header_milieu {
	background-color: #FFF;
	background-image: url(../images/header_milieu.jpg);
	background-repeat: repeat-x;
	margin: 0px;
	padding: 0px;
	height: 121px;
	width: 927px;
}
#contener #header #header_milieu #header_milieu_g {
	margin: 0px;
	width: 153px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 6px;
}
#contener #header #header_milieu #header_milieu_d {
	height: 112px;
	width: 764px;
}
#contener #header #header_milieu #header_milieu_d #header_milieu_d_h {
	margin: 0px;
	width: 669px;
	padding-top: 12px;
	padding-right: 95px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-align: right;
}
#contener #header #header_milieu #header_milieu_d #header_milieu_b {
	margin: 0px;
	height: 42px;
	width: 734px;
	padding-top: 13px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
}
#contener #header #header_milieu #header_milieu_d #header_milieu_b ul {
	list-style-type: none;
	padding: 0px;
	height: 32px;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#contener #header #header_milieu #header_milieu_d #header_milieu_b ul li {
	display: inline;
	background-image: url(../images/menu_trai.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	float: left;
	height: 32px;
	padding-top: 10px;
}
#contener #header #header_milieu #header_milieu_d #header_milieu_b ul li.nontrai {
	background-image: none;
}

#contener #header #header_milieu #header_milieu_d #header_milieu_b ul li a {
	color: #FFF;
	text-decoration: none;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 14px;
}
#contener #header #header_droite {
	background-image: url(../images/header_droit.jpg);
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	height: 121px;
	width: 15px;
}
#contener #contenu {
	background-image: url(../images/fonde_contenu.png);
	background-repeat: repeat-y;
	min-height:500px;
	width: 957px;
	padding: 10px;
}
#contener #pied {
	height: 34px;
	width: 957px;
	margin: 0px;
	padding: 0px;
}
#contener #pied div {
	display: inline;
}
#contener #pied #pied_gauche {
	background-image: url(../images/piend_gauche.png);
	background-repeat: no-repeat;
	height: 34px;
	margin: 0px;
	padding: 0px;
	width: 19px;
	float: left;
}
#contener #pied #pied_milieu {
	background-image: url(../images/piend_milieu.png);
	background-repeat: repeat-x;
	height: 28px;
	width: 919px;
	margin: 0px;
	float: left;
	text-align: center;
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#contener #pied #pied_milieu ul {
	list-style-type: none;
}
#contener #pied #pied_milieu ul li {
	display: inline;
}
#contener #pied #pied_milieu ul li a {
	color: #282828;
	text-decoration: none;
	margin-right: 5px;
	margin-left: 5px;
	font-size: 9px;
}

#contener #pied #pied_droite {
	background-image: url(../images/piend_droite.png);
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	height: 34px;
	width: 19px;
	float: right;
}


/*Cadre*/
#contenu div{
	display:inline;
	float: left;
}
#contenu #cadre01 {
	margin: 10px;
	padding: 0px;
	width: 424px;
}
#cadre01 div{
	display:block;
}
#cadre01 #cadre01_haut{
	margin: 0px;
	padding: 0px;
	width: 424px;
}
#cadre01 #cadre01_haut div{
	display: inline;
	float: left;
}
#cadre01_haut #cadre01_haut_g {
	background-image: url(../images/cadre01_haut_g.jpg);
	background-repeat: no-repeat;
	height: 12px;
	width: 12px;
}
#cadre01_haut #cadre01_haut_m {
	background-image: url(../images/cadre01_haut_m.jpg);
	background-repeat: repeat-x;
	height: 12px;
	width: 400px;
}
#cadre01_haut #cadre01_haut_d {
	background-image: url(../images/cadre01_haut_d.jpg);
	background-repeat: no-repeat;
	height: 12px;
	width: 12px;
}
#cadre01 #cadre01_milieu {
	background-image: url(../images/cadre01_milieu.jpg);
	background-repeat: repeat-x;
	height: 345px;
	width: 412px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #B5B5B5;
	border-left-color: #B5B5B5;
	background-color: #DBDBDB;
	padding: 5px;
}
#cadre01 #cadre01_bas{
	margin: 0px;
	padding: 0px;
	width: 450px;
}
#cadre01 #cadre01_bas div{
	display: inline;
	float: left;
}
#cadre01_bas #cadre01_bas_g {
	background-image: url(../images/cadre01_bas_g.jpg);
	background-repeat: no-repeat;
	height: 12px;
	width: 12px;
}
#cadre01_bas #cadre01_bas_m {
	background-image: url(../images/cadre01_bas_m.jpg);
	background-repeat: repeat-x;
	height: 12px;
	width: 400px;
}
#cadre01_bas #cadre01_bas_d {
	background-image: url(../images/cadre01_bas_d.jpg);
	background-repeat: no-repeat;
	height: 12px;
	width: 12px;
}
#contenu #cadre02, #contenu #cadre03, #contenu #cadre04 {
	margin: 10px;
	padding: 0px;
	width: 456px;
}
#cadre02 div, #cadre03 div, #cadre04 div{
	display:block;
}
#cadre02 #cadre02_haut, #cadre03 #cadre03_haut, #cadre04 #cadre04_haut{
	margin: 0px;
	padding: 0px;
	width: 466px;
}
#cadre02 #cadre02_haut div, #cadre03 #cadre03_haut div, #cadre04 #cadre04_haut div{
	display: inline;
	float: left;
}
#cadre02_haut #cadre02_haut_g, #cadre03_haut #cadre03_haut_g , #cadre04_haut #cadre04_haut_g  {
	background-image: url(../images/cadre02_haut_g.jpg);
	background-repeat: no-repeat;
	height: 12px;
	width: 15px;
}
#cadre02_haut #cadre02_haut_m, #cadre03_haut #cadre03_haut_m, #cadre04_haut #cadre04_haut_m {
	background-image: url(../images/cadre02_haut_m.jpg);
	background-repeat: repeat-x;
	height: 12px;
	width: 434px;
}
#cadre02_haut #cadre02_haut_d, #cadre03_haut #cadre03_haut_d, #cadre04_haut #cadre04_haut_d  {
	background-image: url(../images/cadre02_haut_d.jpg);
	background-repeat: no-repeat;
	height: 12px;
	width: 15px;
}
#cadre02 #cadre02_milieu, #cadre03 #cadre03_milieu, #cadre04 #cadre04_milieu {
	background-image: url(../images/cadre02_milieu.jpg);
	background-repeat: repeat-x;
	height: 60px;
	width: 452px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #B5B5B5;
	border-left-color: #B5B5B5;
	background-color: #DBDBDB;
	padding: 5px;
}
#cadre02 #cadre02_bas, #cadre03 #cadre03_bas, #cadre04 #cadre04_bas{
	margin: 0px;
	padding: 0px;
	width: 466px;
}
#cadre02 #cadre02_bas div, #cadre03 #cadre03_bas div, #cadre04 #cadre04_bas div{
	display: inline;
	float: left;
}
#cadre02_bas #cadre02_bas_g, #cadre03_bas #cadre03_bas_g, #cadre04_bas #cadre04_bas_g {
	background-image: url(../images/cadre02_bas_g.jpg);
	background-repeat: no-repeat;
	height: 13px;
	width: 15px;
}
#cadre02_bas #cadre02_bas_m, #cadre03_bas #cadre03_bas_m, #cadre04_bas #cadre04_bas_m {
	background-image: url(../images/cadre02_bas_m.jpg);
	background-repeat: repeat-x;
	height: 13px;
	width: 434px;
}
#cadre02_bas #cadre02_bas_d, #cadre03_bas #cadre03_bas_d, #cadre04_bas #cadre04_bas_d {
	background-image: url(../images/cadre02_bas_d.jpg);
	background-repeat: no-repeat;
	height: 13px;
	width: 15px;
}
#contenu #cadre05, #contenu #cadre06 {
	margin: 10px;
	padding: 0px;
	width: 220px;
}
#cadre05 div, #cadre06 div{
	display:block;
}
#cadre05 #cadre05_haut, #cadre06 #cadre06_haut{
	margin: 0px;
	padding: 0px;
	width: 229px;
}
#cadre05 #cadre05_haut div, #cadre06 #cadre06_haut div{
	display: inline;
	float: left;
}
#cadre05_haut #cadre05_haut_g, #cadre06_haut #cadre06_haut_g {
	background-image: url(../images/cadre05_haut_g.jpg);
	background-repeat: no-repeat;
	height: 12px;
	width: 12px;
}
#cadre05_haut #cadre05_haut_m, #cadre06_haut #cadre06_haut_m {
	background-image: url(../images/cadre05_haut_m.jpg);
	background-repeat: repeat-x;
	height: 12px;
	width: 198px;
}
#cadre05_haut #cadre05_haut_d, #cadre06_haut #cadre06_haut_d  {
	background-image: url(../images/cadre05_haut_d.jpg);
	background-repeat: no-repeat;
	height: 12px;
	width: 12px;
}
#cadre05 #cadre05_milieu, #cadre06 #cadre06_milieu {
	background-image: url(../images/cadre05_milieu.jpg);
	background-repeat: repeat-x;
	height: 79px;
	width: 210px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #B5B5B5;
	border-left-color: #B5B5B5;
	background-color: #DBDBDB;
	padding: 5px;
}
#cadre05 #cadre05_bas, #cadre06 #cadre06_bas{
	margin: 0px;
	padding: 0px;
	width: 229px;
}
#cadre05 #cadre05_bas div, #cadre06 #cadre06_bas div{
	display: inline;
	float: left;
}
#cadre05_bas #cadre05_bas_g, #cadre06_bas #cadre06_bas_g {
	background-image: url(../images/cadre05_bas_g.jpg);
	background-repeat: no-repeat;
	height: 12px;
	width: 12px;
}
#cadre05_bas #cadre05_bas_m, #cadre06_bas #cadre06_bas_m {
	background-image: url(../images/cadre05_bas_m.jpg);
	background-repeat: repeat-x;
	height: 12px;
	width: 198px;
}
#cadre05_bas #cadre05_bas_d, #cadre06_bas #cadre06_bas_d {
	background-image: url(../images/cadre05_bas_d.jpg);
	background-repeat: no-repeat;
	height: 12px;
	width: 12px;
}
